.loader{
    position: fixed;
    top:0 ;
    left: 0;
    right: 0;
    bottom:0;
    display: none;
    &__background{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($black, 0.9); 
    }
    &__icon{
        display: block;
        animation: spin 1s ease-in-out infinite;
    }
}

html.is-loading{    
    .loader{
        display: block; 
    }
}

@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}