body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.menu {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    right: -40px;

    &.isActive {
        display: block;
        animation: slideMenuIn 0.35s ease-in forwards;
    }

    &.isNotActive {
        animation: slideMenuOut 500ms ease-out forwards;
    }

    &__button {
        transform: rotate(90deg);
        text-transform: uppercase;

        a {
            text-decoration: none;
            padding: 5px 20px;
            border: 1px solid gold;
            border-radius: 5px;
        }
    }

    &__list {
        position: absolute;
        top: 1%;
        margin-left: 80px;
        margin-top: -50px;
        border: 1px solid goldenrod;
        border-radius: 5px;
        padding: 5px 20px;
    }

    &__rows {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        flex-direction: row;
        flex: 1;

        label {
            width: 33, 33%;
        }

        input {
            width: 33, 33%;
        }
    }
}

@keyframes slideMenuIn {
    0% {
        transform: translateX(0);
    }

    95% {
        display: block;
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideMenuOut {
    0% {
        transform: translateX(-100%);
    }

    95% {
        display: block;
    }

    100% {
        transform: translateX(0);
    }
}