$white:#fff;
$off-white: #e2e2e2;
$black:#1b1b1b;
$dark-grey:#454545;
$medium-grey:#666666;
$light-grey:#cccccc;
$accent-color:#f2c94c;



.grid-x{
        & div {
            background-color: $off-white;
            height: 100px;
            border: 1px solid $dark-grey;
            text-align: center;
            padding-top: 20px;
            margin-right: -4px;
        }
}
.grid-y{
overflow-x: hidden;
}